@font-face {
    font-family: "Source Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/SourceSans3-Regular.ttf") format("ttf"), url("../fonts/SourceSans3-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Source Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/SourceSans3-Bold.ttf") format("ttf"), url("../fonts/SourceSans3-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Source Sans";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("../fonts/SourceSans3-ExtraBold.ttf") format("ttf"), url("../fonts/SourceSans3-ExtraBold.ttf") format("ttf");
}

@font-face {
    font-family: "Source Sans";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/SourceSans3-Italic.ttf") format("ttf"), url("../fonts/SourceSans3-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "Source Sans";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../fonts/SourceSans3-BoldItalic.ttf") format("ttf"), url("../fonts/SourceSans3-BoldItalic.ttf") format("ttf");
}
